<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home page of Assignment2</title>
<style>
	h1 {
	color: red;
	text-align: center;
	}
	
	body{
	background-color: lightblue;
	text-align: center;
	color: green;
	}
	img{
		align-items: center;
	}
</style>
</head>
<body>
	<h1> Welcome to the DarsStore </h1>
	<img src="/Java3.png" height="400" width="500" alt="Store image"> <br><br>
	<img src="/Java4.png" height="400" width="500" alt="Item image"> <br><br>
	<a href="/addItem"> Add an item </a> <br> <br>
	<a href="/addStore"> Add a store </a> <br> <br>
	<a href="/view"> View all stores and items added </a> <br><br>
	
</body>
</html>